mixin card-widget(cardElement)
    - var idValue = "card-widget-"+cardElement._id;
    - var styleString = Object.entries(cardElement.styles || {}).map(([k, v]) => `${k}: ${v}`).join('; ')
    div(id=idValue, style=styleString, data-value=cardElement.value, data-animation=cardElement.animation, data-name=cardElement.identifier)
        = cardElement.value