include ../CardWidget/default
include ../TextWidget/default

mixin box-layout(boxElement)
  - var idValue = "box-layout-" + boxElement._id;
  - var styleString = Object.entries(boxElement.styles || {}).map(([k, v]) => `${k}: ${v}`).join('; ')
  div(id=idValue, data-name=boxElement.identifier, style=styleString)
    if boxElement.contents
      each child in boxElement.contents
        if child.CardWidget
          +card-widget(child.CardWidget)
        if child.TextWidget
          +text-widget(child.TextWidget)
