doctype html
html
  head
    meta(viewport="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no") 
    if elements
    if content
      title= content.name
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='icon', type='image/svg+xml', href='/images/logo.svg')
      if content.resources
        - resourcesURL = '/dynamics/' + content._id 
        if content.resources.components
          - componentsURL = resourcesURL + '/components.min.css'
          link(href=componentsURL, rel='stylesheet', type='text/css')
        if content.resources.libraries
          - librariesURL = resourcesURL + '/libraries.min.css'
          link(href=librariesURL, rel='stylesheet', type='text/css')
        if content.resources.assets
          - assetsURL = resourcesURL + '/assets.min.css'
          link(href=assetsURL, rel='stylesheet', type='text/css')
  body
    block content
    if content
      // Inject autoplay setting for client-side script
      script.
        window.creativeAutoplay = #{content.behaviours && content.behaviours.autoplay === true ? 'true' : 'false'};
      if content.resources
        - managerURL = resourcesURL + '/manager.min.js'
        script(src=managerURL)
        if content.resources.assets
          - assetsURL = resourcesURL + '/assets.min.js'
          script(src=assetsURL, defer)
        if content.resources.components
          - componentsURL = resourcesURL + '/components.min.js'
          script(src=componentsURL, defer)
        if content.resources.libraries
          - librariesURL = resourcesURL + '/libraries.min.js'
          script(src=librariesURL, defer)
