include ../widgetImage/default
include ../widgetCountdown/default
include ../widgetCard/default
include ../widgetText/default
include ../widgetVideo/default

mixin slide(slideElement)
  - var idValue = "slide-layout-" + slideElement._id;
  - var styleString = Object.entries(slideElement.styles || {}).map(([k, v]) => `${k}: ${v}`).join('; ')
  div(id=idValue, data-name=slideElement.identifier, style=styleString)
    if slideElement.contents
      each child in slideElement.contents
        if child.ImageWidget
          +image(child.ImageWidget)
        if child.CountdownWidget
          +countdown(child.CountdownWidget)
        if child.VideoWidget
          +video(child.VideoWidget)
        if child.CardWidget
          +card(child.CardWidget)
        if child.TextWidget
          +text(child.TextWidget)
